@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #ddead1;
  font-family: "Noto Sans", serif;
  font-size: 1em;
}

header, aside, footer {
  background-color: #a5be8d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
  font-style: italic;
}

footer a {
  color: #2e471f;
  text-decoration: none;
}

footer a:hover {
  font-weight: bold;
}

aside {
  border-radius: 10px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

p, ul {
  line-height: 2em;
}

.logo a {
  font-size: 1.2em;
}

.date p {
  font-size: 0.9em;
  font-style: italic;
}

:root {
  --light: #ffffff;
  --primary: #658354;
}

.btn-primary {
  color: #fff;
  font-weight: bold;
  background-color: var(--primary) !important;
  margin: 10px;
  padding: 10px;
  border: none !important;
}

.btn-primary:hover {
  background-color: #425e32 !important;
}

.nav-link.active,
.nav-link:hover {
  color: var(--light) !important;
  background-color: var(--primary) !important;
  border-radius: 5px;
  font-weight: bold;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

/* Popup styling */
.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #95bb72;
  opacity: 95%;
  color: black;
  font-size: 1.1em;
  padding: 80px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}