@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #ddead1;
  font-family: "Noto Sans", serif;
  font-size: 1.1em;
}

header, aside, footer {
  background-color: #9ab581;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

aside {
  border-radius: 10px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

p, ul {
  line-height: 1.8em;
}

html {
  position: relative;
  min-height: 100%;
}