@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #ddead1;
  font-family: "Noto Sans", serif;
  font-size: 1em;
}

header, aside, footer {
  background-color: #a5be8d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

aside {
  border-radius: 10px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

p, ul {
  line-height: 2em;
}

.logo a {
  font-size: 1.2em;
}

.date p {
  font-weight: bold;
}

:root {
  --light: #ffffff;
  --primary: #658354;
}

.btn-primary {
  color: #fff;
  font-weight: bold;
  background-color: var(--primary) !important;
  margin: 10px;
  padding: 10px;
  border: none !important;
}

.btn-primary:hover {
  background-color: #425e32 !important;
}

.nav-link.active,
.nav-link:hover {
  color: var(--light) !important;
  background-color: var(--primary) !important;
  border-radius: 5px;
  font-weight: bold;
}