@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>
<br>
<p><strong>Vem är jag som skapat denna webbplats?</strong></p>
<p>Julie Andersson heter jag, fyller 25 år i maj och pluggar min fjärde och sista termin på webbutvecklingsprogrammet.<br>
I denna kursen läser vi webbutveckling med .NET och moment 1.1 går ut på att skapa en enkel webbplats med ASP.net Core, bestående av 3 stycken Razor-pages. 
Jag tycker denna kursen verkar spännande och jag ser fram emot allt den har att erbjuda!
</p>

<p><strong>Vem är jag utanför plugget då?</strong></p>

<p>Jag är en glad, energisk tjej som väldigt ofta är ute på resande fot. Med tanke på den fantastiska möjligheten att kunna plugga distans, spenderar jag mycket tid utomlands.
Utöver mina studier gillar jag att upptäcka nya kulturer, mat och människor under mina resor. Jag är väldigt nyfiken av mig och älskar att utmana mig själv genom att testa nya 
saker och ta mig an olika projekt, både inom programmering och utanför. När jag inte reser eller pluggar tycker jag om att gymma, gå promenader och umgås med vänner och familj.
<br>
Jag ser verkligen fram emot att fortsätta utvecklas inom webbutveckling och att få bygga fler roliga och intressanta projekt!
</p>
