@page
@model MyApp.Namespace.RazorModel
@{
    ViewData["Title"] = "Razor";

    // Dagens datum och klockslag
    var date = DateTime.Now;
    // Kontroll om det är fredag
    bool isFriday = date.DayOfWeek == DayOfWeek.Friday;
}

<h1>Razor</h1>

<p><strong>Information</strong></p>
<p><strong>Datum/klockslag:</strong> @date.ToString("yyyy-MM-dd HH:mm:ss")</p>

@* ifsats för att kontrollera om dagens veckodag är fredag, visa meddelande beroende på resultat *@
@if (isFriday)
{
    <p>Idag är det fredag!</p>
}
else
{
    <p>Idag är det inte fredag!</p>
}